* {
  /* Global Reset to overide the default styles in all browsers */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1; /*Reseting the line height to 1 on the page*/
  font-weight: 400;
  color: #555;
}
