/* ##DESIGNS TO BE USED ON THE PAGE
--- 01 TYPOGRAPHY SYSTEM

    FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    
    Font Weights:
    Default: 400

    Line Heights:
    default: 1

    
--- 02 COLORS

    Primary: #e67e22

    Tints:
    Shades:
    Accents:
    Greys: #555

--- 03 IMAGES
    unsplash.com
    uifaces.com

--- 04 SHADOWS

--- 05 BORDER RADIUS

--- 04 WHITESPACE

        SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    
*/

* {
  /* Global Reset to overide the default styles in all browsers */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user browser font size */
  font-size: 62.5%;
  /* This setting will respect the user font size setting he chooses when navigating the page */
  /* 1rem = 10px */
}

body {
  font-family: sans-serif;
  line-height: 1; /*Reseting the line height to 1 on the page*/
  font-weight: 400;
  color: #555;
}

/* using CSS GRID for the HERO SECTION */
.hero {
  max-width: 130rem; /*Setting the max-width to be 130rem which equals to 1300px*/
  margin: 0 auto; /*Centering the hero to the center of the viewport */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 100%;
}
